body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
}

.site-header {
  background-color: #eeeeee;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.site-header .container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media (min-width: 768px) {
  .header-container {
    flex-direction: column;
  }
}
.site-header .logo {
  max-width: 200px;
  height: auto;
}

.site-header .header-text {
  font-size: 0.95rem;
  line-height: 1.4;
}

.site-header a {
  color: #b22222;
  text-decoration: none;
}

.home-project-title {
  margin: 0 auto;
  display: block;
}
.project-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.project-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 1.5rem;
  margin: 2rem 1rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.project-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.project-text h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.project-text p {
  font-size: 1rem;
  line-height: 1.6;
}

.project-page-image{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    border: 1px solid #d0d0d0;
    background-color: #E8E8E8;
    box-sizing: border-box;
    padding: 1rem;
}

.page-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.page-content p, .page-content h1, .page-content h2 {
    max-width: 600px;
}

.back-to-portfolio {
    margin-top: 1rem;
    color: #b22222;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
}